#feed {
    background: #000;
    line-height: 1.5;
    text-align: center;
    color: white;
    font-size:11px;
    text-shadow: .5px .5px white;
    height:20px;
    opacity:.5;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index:50000;
    
}